#koi-farm{
  margin: 0 240px;
  background-color: #E8FFED;
  color:#006;
}
#a{
  margin-left: 20px;
}
#first-heading {
  border: solid;
  background-color: pink;
  padding: 30px;
  margin-left: 20px;
  margin-right: 20px;
  
}
#d1{ 
  border: solid;
  padding: 30px;
  margin: 20px;
  background-color: aliceblue;
}
#d2{
  margin-right: 20px;
  float: left;
}
#d3{ 
  height: 250px;
}
 #second-heading {
  border: solid;
  padding: 30px;
  margin: 20px;
  background-color: aliceblue;
} 
#d3 h3{
  border: 1px solid;
  margin-left: 520px;
  margin-right: 10px;
  text-align: center;
  background-color:blanchedalmond;
}
#d3 img{
  width: 450px;
  height: 190px;
}
#d4{
  float: left;
  margin-right: 20px;
}
#d5 #text1{
  color: red;
}
#d6{
  float: left;
  margin-right: 20px;
}
#d8{
  float: left;
  margin-right: 20px;
}
#d9 #text2{
   color: red;
}
#d10{
  float: left;
  margin-right: 20px;
}
#d11{
  margin-right: 20px;
}
#d12{ 
  height: 250px;
}
#d12 img{
  width: 450px;
  height: 190px;
}
#d12 h3{
  border: 1px solid;
  margin-left: 520px;
  margin-right: 10px;
  text-align: center;
  background-color:blanchedalmond;
}
#d12 #db2{
  margin-left: 520px;
}
#d12 #db2 #hinh4{
  width: 450px;
}
#d15{
  float: left;
  margin-right: 20px;
}
#text{
  width: 500px;
}
#text3{
  margin-left: 40px;
}
 #third-heading {
  border: 1px solid;
  width: 500px;
  height: 40px;
  color:blue;
  clear: both;
  
}
#third-heading1{
  border: 1px solid;
  height: 40px;
  color:blue;
}
#third-heading #db{
  font-size: 15px;
}


