h1{
    color: blue;
}
h2{
    color: red;
}
#khung{
    width: 1200px;
}
.d1{
    min-height: 200px;
    width: 70%;
    float: left;
    background-color: aliceblue;
}
#d2{
    
    width:30%;
    float: right;
}
#d3{
    height: 200px;
    width: 300px;
    background-color: aliceblue;
    color: blue;
    float: left;
    
}
#d4{
    height:200px;
    width: 300px;
    background-color: aliceblue;
    float: left;
    margin-left: 100px;
    color: blue;

}
#d5{
    height: 200px;
    background-color: aliceblue;
    width: 300px;
    float: left;
    margin-left: 100px;
    color: blue;
}
#d6{
    margin-top: 250px;
}
#d6 img{
    width: 1100px;
}
body{
    background-color: aquamarine;
}
