*{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
html{
        font-family: Arial, Helvetica, sans-serif;
    }

.clear{
        clear:both;
    }




#content {
    width: 100%;
    margin-top: 46px;
    padding: 0 160px;
    background-color: #E8FFED;
    color:#006;
    display: inline-block;

}


body {
    background-color: #d8f3d3;
    color: #333;
    margin: 0;
    padding: 0;
}


.product {
    display: flex;
    background-color: #fff;
    padding: 20px;
    float:left;
    width: 50%;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.product-image img {
    width: 200px;
    height: auto;
    border-radius: 8px;
}

.product-details {
    margin-left: 20px;
    flex: 1;
}

.product-details h2 {
    color: #6e013e;
    margin: 0;
    font-size: 24px;
}

.price {
    font-size: 18px;
    color: #333;
}

.price span {
    color: red;
    font-weight: bold;
}

.description {
    font-size: 14px;
    color: #362ac0;
}

.size, .quantity, .buttons {
    margin: 10px 0;
}

.size button {
    margin: 0 5px;
    padding: 5px 10px;
    border: 1px solid #ddd;
    background-color: #fff;
    cursor: pointer;
    border-radius: 4px;
}

.stock-status {
   
    font-weight: bold;
}

.quantity .bbb {

   float:left;

}

.buttons>.add-to-cart:hover {
    background-color: #006;
    color: #fff;
    

}

.buttons> .buy-now:hover{
    background-color: #006;
    color: #fff;
}

.quantity button {
    padding: 5px 8px;
    font-size: 20px;
    color:#006;
    background-color: #fff;
    border-radius: 8px;
    border:2px solid #006;
   
}

.quantity> button:hover {
    background-color: #006;
    color: #fff;

}

.quantity input {
    width: 100px;
    text-align: center;
    border: 1px solid #ddd;
    margin: 0 5px;
    border-radius: 6px;
}

.buttons button {
    padding: 10px 20px;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin-right: 10px;
}

.add-to-cart {
    background-color: #1e51d2;
}

.buy-now {
    background-color: #1e51d2;
}
