*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}
.clear{
    clear:both;
}

#content{
    position: absolute;
    position: relative;
    top:46px;
    width: 100%;
    padding: 0 160px;
    background-color: #E8FFED;
    color:#006;
    display: inline-block;
}

.container{
    padding: 20px;
width:33.33333%;
}

.container-content{
    margin: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    border: 2px solid #006;
}

img{
    width: 100%;
}

.container-text .name{
    padding: 10px 0;
    text-align: center;
    font-size: 18px;
    
}

.container-text .text{
    padding-left: 20px;
}

.container-text .text p{
    color: #f00;
}

.button-stock{

}


