body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #E8FFED;
}

.confirmation {
    margin: 50px auto;
    padding: 20px;
    max-width: 600px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
}

h1 {
    color: #28a745;
}

button {
    padding: 10px 20px;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

    button:hover {
        background-color: #006;
    }
